<nav>
  <!-- <h3><%= data.user.userPage %></h3> -->
  <a href="/add_file">Add images</a>
  <a href="/results">Results</a>
  <a href="/favorites">Favorites</a>
  <a href="/profile/<%= data.user.id %>"><%= data.user.userNickName %></a>
  <a href="/logout">Logout</a>
</nav>