*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background: linear-gradient(90deg,#23a6d5, #23d5d5);
}
.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-weight: 300;
}
button{
    appearance: none;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    padding: 10px 15px;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
button:focus{
    background-color: rgba(255, 255, 255, 0.8);
}
input{
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    text-align: center;
    display: block;
    margin: 10px 0;
}
input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
input:focus {
    background-color: rgba(255, 255, 255, 0.6);;
    color: black;
}
.btn-save{
    margin-top: 20px;
}
.reg-info{
    width: 250px;
    margin-top: 20px;
}
.link{
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
.email{
    margin: 10px 0;
}
.info{
    width: 250px;
}