*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

form {
  display: flex;
  flex-direction: column;
}
